<form [formGroup]="bookForm">

  <div class="form-group">
    <label for="isbn">ISBN</label>
    <input formControlName="isbn"
           type="text" class="form-control" id="isbn">

    <div class="feedback-red" *ngIf="isInvalid('isbn')">
      Die ISBN ist ungültig!
    </div>

    <div class="feedback-red" *ngIf="hasError('isbn', 'required')">
      Bitte geben Sie eine ISBN an.
    </div>

    <div class="feedback-red" *ngIf="hasError('isbn', 'minlength')">
      Bitte geben Sie mindestens 10 Zeichen an.
    </div>
  </div>

  <div class="form-group">
    <label for="title">Titel</label>
    <input formControlName="title"
           type="text" class="form-control" id="title">
  </div>

  <div class="form-group">
    <label for="description">Titel</label>
    <textarea formControlName="description"
              type="text" class="form-control" id="description"></textarea>
  </div>

  <div class="form-group">
    <button type="button" class="btn btn-danger"
      [disabled]="bookForm.invalid"
      brConfirm
      (confirm)="submitForm()"
      (cancel)="wieSchade()"
    >
      Erzeugen
    </button>
  </div>

</form>
