<div class="card mb-4">
  <div class="card-body bg-light">

    <img class="img-thumbnail float-right"
         src="//api.angular.schule/avatar/{{ book.rating }}">

    <div class="card-title">
      <h2>
        {{ book.title }}
        <span class="badge badge-secondary">{{ book.rating }}</span>
      </h2>

    </div>
    <p>
      {{ book.description }}
    </p>

    <!-- worst practice! -->
    <button (click)="book.rating = book.rating - 1" class="mr-2 btn btn-secondary">-1</button>
    <button (click)="book.rating = book.rating + 1" class="btn btn-primary">+1</button>

  </div>
</div>
